<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="card">
	 <% @products.each do |product|%>
		 <div class="text-center col-md-4">
      <%= product.title %><br>
      <%= product.description %>
      <img class="card-img-top" width="150px" heigth="150px"
      <%= image_tag product.image_url %>
  </div>
</div>
  <%end%>
</body>
</html>

  
