<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

            <div class="block-7">
              <h3 class="footer-heading mb-4">A propos du site</h3>
              <p>C’est une plateforme permettant à des fournisseurs de produits locaux  de bénéficier d’une visibilité attractive sur internet afin de générer de nouvelles ventes. Ils seront  sélectionnés surtout sur la qualité de leurs produits.</p>
            </div>

          </div>
          <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
            <h3 class="footer-heading mb-4">Liens rapides</h3>
            <ul class="list-unstyled">
                <%Category.all.each do |c|%>
                  <li><a href="<%= category_path(c.id)%>" data-method="get"><%= c.title%></a></li>
                <%end%>
              </ul>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Nos contacts</h3>
              <ul class="list-unstyled">
                <span class=" address fas fa-map-marker-alt">&nbsp;&nbsp;&nbsp;&nbsp;Antananarivo 101, Madagascar</span><br><br>
                <span class="phone fas fa-mobile-alt" >&nbsp;&nbsp;&nbsp;&nbsp;<a href="tel://23923929210" style="color: grey;">+26 13 42 85 89 15</a><span><br><br>
                <span class="email fas fa-envelope">&nbsp;&nbsp;&nbsp;&nbsp;madamarketthp@gmail.com</li>
              </ul>
            </div>
            

          </div>
        </div>

        </div>
      </div>
    </footer>